.EthereumImg{
    margin-right: 1%;
}

.Ethereum{
    margin-bottom: 5%;
}

.BitcoinImg{
    margin-right: 1%;
}

.Bitcoin{
    margin-bottom: 5%;
}

.RippleImg{
    margin-right: 1%;
}

.Ripple{
    margin-bottom: 5%;
}

.TronImg{
    margin-right: 1%;
}

.Tron{
    margin-bottom: 5%;
}

.StellarImg{
    margin-right: 1%;
}

.Stellar{
    margin-bottom: 5%;
}

.EnigmaImg{
    margin-right: 1%;
}

.Enigma{
    margin-bottom: 100%;
}

body{
    background-color: #130f40;
    background-image: linear-gradient(135deg, #130f40 0%, #000000 74%);
    color: white;
    font-size: 50px;
}